name: documentation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checkout your repository
      - uses: actions/checkout@v4

      # Set up Python
      - name: Set up Python 3.12.4
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.4"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ghp-import sphinx==7.3.7 sphinx_rtd_theme

      # Build HTML documentation
      - name: Build HTML
        run: |
          cd docs/
          make html

      # Deploy to GitHub Pages
      - name: Run ghp-import
        run: |
          ghp-import -n -p -f docs/build/html
